<style>
.jumbotron {
  background-color: #f4511e; /* Orange */
  color: #ffffff;
}
</style>
<div class="jumbotron">
  <h1>Welcome to Our world. {{fname}} {{lname}}</h1>
  <a href="/add_meal" class="btn btn-primary">Add Meal Package</a>
  <br/>
  <br/>
   <a href="/editMealPackage" class="btn btn-primary">Edit Meal Package</a>
   <br/>
  <br/>
   <a href="/deleteMeal" class="btn btn-primary">Delete Meal Package</a>
  <p></p>
</div>