<div class="jumbotron jumbotron-fluid" style="margin-bottom:0">
        <h1>Dont Want to Cook!</h1><br/>
        <p>Cravings for something?  <br/>On diet? <br/> Want something heathy? <br/> We got you covered. </p><br/><br/><br/>
        <a href="packages"><button type="button" class="btn btn-outline-danger"> Our Packages</button></a>
        <a href="ourdishes"><button type="button" class="btn btn-outline-danger"> Explore New. </button></a>
      </div>
    </br> </br> </br> </br> </br>

      <div class="container">
        <div class="row">
          <div class="col-sm">
              <img src="/img/order.jpeg" alt="" srcset=""style= "width:200px;height:200px;">

          </div>
          <div class="col-sm">
            <img src="/img/cooking.jpeg" alt="" srcset="" style= "width:200px;height:200px;">

          </div>
          <div class="col-sm">
            <img src="/img/dilevry.jpeg" alt="" srcset=""style= "width:200px;height:200px;">

          </div>
          <div class="col-sm">
            <img src="/img/enjoy.jpeg" alt="" srcset=""style= "width:200px;height:200px;">

          </div>
        </div>
      </br> </br> </br> </br> </br>
      <div class="card-deck">
        <div class="card" style="display: flex;">
          <div class = "fliper" style="display: flex;">
            <div class = "flip-card-inner">
              <div class = "flip-card-front">
                 <img class="card-img-top" src="/img/gujarati-cusien.jpeg" alt="Card image cap">
                     <div class="card-body">
                     <h5 class="card-title">Gujrati Thali</h5>
                      <p class="card-text">Food comprised of dall, roti, sweet and spciy twist of sabzi.It has 1) Dal 2)roti 3)sambhar 4) sweet 5) Kachumbar 6) pakwan. 7) suprise</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    </div>
                    <div class ="flip-card-back">
                      <div class = "card-body">
                         <p class ="card-text" style="color: orange;"> Want to know more?</p>
                         <a href="register" class="btn btn-primary">View Dish</a>
                      </div>
                    </div>
              </div>
           </div>
          </div>
        </div>
        <div class="card" style="display: flex;">
          <div class = "fliper" style="display: flex;">
            <div class = "flip-card-inner">
              <div class = "flip-card-front">
                 <img class="card-img-top" src="/img/indian-chickencurry.jpeg" alt="Card image cap">
                     <div class="card-body">
                     <h5 class="card-title">Chicken Curry</h5>
                      <p class="card-text">Food comprised of dall, roti, sweet and spciy twist of sabzi.It has 1) Dal 2)roti 3)sambhar 4) sweet 5) Kachumbar 6) pakwan. 7) suprise</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    </div>
                    <div class ="flip-card-back">
                      <div class = "card-body">
                         <p class ="card-text" style="color: orange;">Want to know more?</p>
                         <a href="register" class="btn btn-primary">View Dish</a>
                      </div>
                    </div>
              </div>
           </div>
          </div>
        </div>
        <div class="card" style="display: flex;">
          <div class = "fliper" style="display: flex;">
            <div class = "flip-card-inner">
              <div class = "flip-card-front">
                 <img class="card-img-top" src="/img/indian-dosa.webp" alt="Card image cap">
                     <div class="card-body">
                     <h5 class="card-title">Dosa</h5>
                      <p class="card-text">Dosa is the Bruno M*ars of the food.You can roll it and feel it. Nothing can go wrong. It has Onion, Potato, oil, Ghee and the spicy ingredients now show</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    </div>
                    <div class ="flip-card-back">
                      <div class = "card-body">
                         <p class ="card-text" style="color: orange;"> Want to know more?</p>
                         <a href="register" class="btn btn-primary" enable>View Dish</a>
                      </div>
                    </div>
              </div>
           </div>
          </div>
        </div>
       <div class="card" style="display: flex;">
        <div class = "fliper" style="display: flex;">
          <div class = "flip-card-inner">
            <div class = "flip-card-front">
               <img class="card-img-top" src="/img/indian-samosa.jpeg" alt="Card image cap">
                   <div class="card-body">
                   <h5 class="card-title">Samosa</h5>
                    <p class="card-text">Round is great but according to science triangle is the strongest shape so is samosa strong to break but weak enough to melt your heart. Beware hazardious.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                  </div>
                  <div class ="flip-card-back">
                    <div class = "card-body">
                       <p class ="card-text" style="color: orange;"> Want to know more?</p>
                       <a href="register" button class="btn btn-primary">View Dish</a>
                    </div>
                  </div>
            </div>
         </div>
        </div>
      </div>

      </div>