<div class="support-grid"></div>

      <div class="band">
        <div class="item-2">
          <a href=#3" class="card">
            <div class="thumb" style="background-image: url(/img/gujarati-cusien.jpeg);"></div>
            <article>
              <h1>Food comprised of dall, roti, sweet and spciy twist of sabzi..</h1>
              <span>Gujarati Thali</span>
            </article>
          </a>
    </div>
    <div class="item-2">
      <a href="#" class="card">
        <div class="thumb" style="background-image: url(/img/indian-punjabicusien.jpeg);"></div>
        <article>
          <h1>Meal that you can't resist eating. Not for people on Diet!!.</h1>
          <span>Punjabi Meal Package</span>
        </article>
      </a>
</div>
        <div class="item-2">
              <a href="#" class="card">
                <div class="thumb" style="background-image: url(/img/laddu.jpeg);"></div>
                <article>
                  <h1>Laddu can make you round but workout can help.</h1>
                  <span>Ladoo</span>
                </article>
              </a>
        </div>
              <div class="item-2">
              <a href="#" class="card">
                <div class="thumb" style="background-image: url(/img/indian-chickencurry.jpeg);"></div>
                <article>
                  <h1>Chicken Curry is the best non-veg you can have</h1>
                  <span>Chicken-Curry</span>
                </article>
              </a>
        </div>
        <div class="item-4">
              <a href="#" class="card">
                <div class="thumb" style="background-image: url(/img/indian-samosa.jpeg);"></div>
                <article>
                  <h1>Samosa is triangle. Sharp and crispy.</h1>
                  <span>Samosa</span>
                </article>
              </a>
        </div>
        <div class="item-5">
              <a href="#" class="card">
                <div class="thumb" style="background-image: url(/img/indian-package1.jpeg);"></div>
                <article>
                  <h1>Dosa is the food that is light in weight and still fun to eat</h1>
                  <span>Dosa</span>
                </article>
              </a>
        </div>
        <div class="item-6">
          <a href="#" class="card">
            <div class="thumb" style="background-image: url(/img/malpua.jpg);"></div>
            <article>
              <h1>Malpua is the Bruno M*ars of the food. Nothing can go wrong.</h1>

              <span>Marie Gardiner</span>
            </article>
          </a>
        </div>
        <div class="item-7">
          <a href="#" class="card">
            <div class="thumb" style="background-image: url(/img/indian-southpackage.jpeg);"></div>
            <article>
              <h1>South is the perfect cusine to have at dinner.</h1>
              <span> South</span>
            </article>
          </a>
        </div>
      </div>








