<div class="jumbotron jumbotron-fluid" style="background-image: url('/img/back.jpg') ;color: black;background-position: center;background-repeat: no-repeat;background-size: cover; height: 100vh;">
        <h1>Welcome to our World</h1><br/>
      </div>
    </br> </br> </br> </br> </br>