<div class="jumbotron jumbotron-fluid" style="background-image: url('/img/back.jpg') ;color: black;background-position: center;background-repeat: no-repeat;background-size: cover; height: 100vh;">
        <h1>Welcome to our World {{fname}} {{lname}}</h1><br/>
</div>